@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    @apply text-secondary font-sans antialiased bg-surface-white;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight text-secondary;
}

/* Custom Utilities for curves if needed, though SVGs are better */
